.App{
  background-color: rgb(238, 238, 238);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1{
  color: rgb(230, 220, 222);
  text-size-adjust: 3px;
}