.stop-watch{
    height: 65vh;
    width: 23vw;
    background-color: #cc91ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10%;
}