.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #5784df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:10px;
  color: white;
  
}

.App-link {
  color: #09d3ac;
} */