.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  padding: 20px;
  color:rgb(218, 75, 123);
}

.App-title {
  font-size: 1.5em;
}
.container{
  background-color: rgb(207, 161, 179);
  height: 200px;
  margin-left: 30%;
  margin-right: 30%;
  
 }

button {
   min-height: 40px;
   font-size: 20px;
   cursor: pointer;;
}
