* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 0px 70px;
    background-color: #fff;
  }
  .navbar-logo {
    color: #c76395;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 20px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: #444;
    padding: 20px 20px;
    font-weight: 500;

  }
  
  .navbar-links li.navbar-dropdown {
    position: relative;
  }
  
  .navbar-links li.navbar-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
  
  .navbar-links li.navbar-dropdown .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 130px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 111;
    transition: 0.4s all;
  }
  .navbar-links li.navbar-dropdown .dropdown a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
  }
  .navbar-dropdown .dropdown a:hover {
    padding-left: 30px;
  }
  .navbar-links li a:hover {
    color: #ff3f34;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* background-color: #f00; */
    background-image: url("http://lorempixel.com/1366/698/food/");
    background-size: cover;
  }
  
  .header-inner {
    text-align: center;
    color: #ff3f34;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, .8);
  }
  
  .header-inner h1 {
    font-family: "Great Vibes", cursive;
    font-size: 130px;
  }
  
  .header-inner form input[type="search"] {
    position: relative;
    width: 500px;
    border: none;
    padding: 15px;
    border-radius: 27px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    z-index: 11;
  }
  .header-inner form input[type="search"]:focus {
    outline: none;
  }
  
  .header-inner form input[type="search"]:focus + div {
    z-index: 1;
    opacity: 1;
  }
  
  ::placeholder {
    color: #666;
    font-weight: 400;
  }



.About{
    text-align:center;
    color: black;
    text-shadow: teal;
    background-color: rgb(146, 151, 151);
    height: 100vh;
}

.Home{
    text-align:center;
    color: black;
    background-color: rgb(146, 151, 151);
    height: 100vh;
}

.Tasks{
    text-align: center;
    color: black;
    background-color: rgb(146, 151, 151);
    height: 100vh;
}

.Contact{
    text-align: center;
    color: black;
    background-color: rgb(146, 151, 151);
    height: 100vh;
}

.Hooks{
  text-align: center;
  background-color: darkgray;
  height: 100vh;
}

.Hook{
  padding-top: 15%;
}

.CompProps{
  text-align: center;
  color: black;
  background-color: rgb(146, 151, 151);
  height: 100vh;

}

.switchtoggle{
  background-color: rgb(224, 193, 206);
  height: 100vh;
  text-align: center;
  padding-top: 2%;
}

.toggler button{
  background-color: #ff3f34;
  text-align: center;
  height: 25%;
  width: 7%;
  margin-top: 10%;
  margin-left: 5%;
}

